canvas {
    border: 3px solid white;
    transform: preserve-3d;
    margin:auto;
  }
  body {
    perspective: 1000px;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  #info {
    display: block;
    justify-content:center;
    /*space-between; */
    margin:auto;
    margin-bottom: 10px;
    color: white;
  }
  #level, #timer {
    font-size: 20px;
  }

  #gameOverMessage {
  text-align: center;
  font-size: 24px;
  color: red;
  margin-top: 50px;
}